@font-face {
  font-family: "CONSOLA";
  src: url("fonts/CONSOLA.ttf");
}

body {
  background-color: #ddd4c3;
  font-family: Roboto;
}

h2 {
  font-family: CONSOLA;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #E34E45;
}

.reserved {
  border: 1px solid grey;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  text-align: center;
  line-height: 4;
  margin: 20px;
  background-color: #ADAAAA;
  border-style: none;
  font-family: CONSOLA;
  z-index: 0;
}

.available {
  border: 1px solid grey;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  text-align: center;
  line-height: 4;
  margin: 20px;
  background-color: #EEE;
  border-style: none;
  font-family: CONSOLA;
  z-index: 1;
}

#tablediv {
  border: 1px solid black;
  height: 320px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: white;
  border-style: none;
  z-index: 0;
  position: relative;
  box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.3);
}

#title {
  text-align: center;
  margin-bottom: 60px;
}

#inputdiv {
  border: 1px solid black;
  height: 360px;
  width: 355px;
  /* margin: 0 auto; */
  display: flex;
  /* align-items: center; */
  border-radius: 5px;
  background-color: white;
  border-style: none;
  position: absolute;
  z-index: 0;
  top: 180px;
  left: 460px;
  box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.3);
  display: none;
}

.inputs {
  margin: 15px;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  font-family: CONSOLA;
  width: 320px;
  font-weight: bold;
}

.newinput {
  margin-top: 10px;
  margin-left: 15px;
  color: #E34E45;
}

.numinput {
  margin-left: 15px;
  font-family: CONSOLA;
}

.btn {
  margin-left: 15px;
  margin-top: 5px;
  width: 320px;
  background-color: #008000;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.xout {
  display: flex;
  justify-content: flex-end;
  color: grey;
  margin: 15px;
  cursor: pointer;
}

h4 {
  display: inline-block;
}

div.reserved {
  cursor: not-allowed;
}

div.available {
  cursor: auto;
}

div.available:hover {
  border: 1px solid #ADAAAA;
}

#hoverdiv {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  display: none;
  background-color: darkgrey;
  z-index: 2;
  text-align: justify;
}

.reserved:hover #hoverdiv {
  position: absolute;
  top: 50px;
  left: 120px;
  bottom: 20px;
  display: inline;
  width: 75px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
    z-index: 2;
}

.table {
  z-index: 0;
}

@media (max-width: 768px) {
  #inputdiv, #tablediv {
    flex-direction: column;
  }
};
